html,
body {
  height: 100%;
}

body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      background-image: #8f27c4;
  color: black
}

li {
  align-items: bottom;
}

a{
  align-items: bottom;

}




