body{
  background-color: rgb(93, 113, 126);
}

text{
  color: white;
}
li {
  padding-top: 0;
  margin-top: auto;
}

a {
  position: 0;
  align-content: space-between
}

.new-review-button {
  color:cadetblue;
}

.img{
  margin: auto;
  width: 50%;
  height: 50%;
   margin-top: 200px;
   margin-left: 10px;
   padding: 25px;
   width: 200px;}
}

.textarea {
  border-color: darkblue;
}

p{
  text-align: center
}



